@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@font-face {
    font-family: 'LatoBlack';
    src: url(../fonts/Lato-Black.ttf);
}


$BGDark: #2d303a;
$BGColor: #f06c64;

$lato_black: "LatoBlack";
$Lato: "Lato";

$grayCaption: #666d89;
$grayText: #767e9e;
$liteText: #f0d8d9;
$liteColor: #fff;

/*----------------
 * сброс стилей
----------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: $liteColor;
}


/*----------------
 * миксины
----------------*/
@mixin genPadding {
    padding: 50px 40px;
}
