.b_genCaption {
    color: $grayCaption;
    font-family: $lato_black;
    font-size: 1.875rem;
    font-weight: 400;
    line-height: 1.116rem;
}

.b_generalText {
    color: $grayText;
    font-family: $Lato;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.875rem;
}
