.b_genCaption {
    color: $grayCaption;
    font-family: $lato_black;
    font-size: 1.875rem;
    font-weight: 400;
    line-height: 1.116rem;
    margin-bottom: 30px;

    &_positionGet {
        color: $liteText;
    }
}

.b_generalText {
    color: $grayText;
    font-family: $Lato;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.875rem;

    &_pos {
        margin-bottom: 45px;
    }

    &_positionGet {
        color: $liteText;
        margin-bottom: 45px;
    }
}

.b_link {
    &:hover{
        color:inherit;
    }

    &_Get {
        color: $liteText;
    }

    &_aboutUs:hover {
        color: darken($grayText,40%);
        border-color: darken($grayText,40%);
    }

    &_footer:hover {
        color: lighten($grayText,20%);
        border-color: lighten($grayText,20%);
    }
}

.buttonShow {
    @extend .b_generalText;
    background: $BGShow;
    padding: 5px 15px;
    &:hover {
        cursor: pointer;
        text-decoration: underline;
        background: darken($BGShow,10%);
    }
    border-radius: 10px;

    &_positionPortfolio {
        margin: -10px 0 15px;
    }
    &_positionAboutUs {
        margin: -35px 0 15px;
    }
}
